<!DOCTYPE html>
<html>

<head>

<title>Cyber Shield AI - Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<div class="container">


<h1>🛡 Cyber Shield AI</h1>

<h2>Security Dashboard</h2>


<table border="1" width="100%">


<tr>

<th>ID</th>
<th>URL</th>
<th>Status</th>
<th>Score</th>
<th>Time</th>

</tr>



{% for scan in scans %}


<tr>

<td>{{scan[0]}}</td>

<td>{{scan[1]}}</td>

<td>{{scan[2]}}</td>

<td>{{scan[3]}}%</td>

<td>{{scan[4]}}</td>


</tr>


{% endfor %}



</table>


<br>


<a href="/report">

<button>
Download PDF Report
</button>

</a>


</div>


</body>

</html>