<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cyber Shield AI | Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
          rel="stylesheet">

</head>


<body>


<header>

    <nav class="navbar">

        <h2 class="logo">
            🛡 Cyber Shield AI
        </h2>


        <ul class="nav-links">

            <li><a href="/">Home</a></li>

            <li><a href="/scanner">Scanner</a></li>

            <li><a href="/password">Password</a></li>

            <li><a href="/email">Email</a></li>

            <li><a href="/ip">IP Checker</a></li>

            <li><a href="/hash">Hash</a></li>

            <li><a href="/dashboard">Dashboard</a></li>


        </ul>


    </nav>


</header>



<section class="dashboard">


<h1>
    📊 Security Dashboard
</h1>


<p>

    All previous scans are stored here.

</p>



<div class="table-box">


<table>


<thead>

<tr>

<th>ID</th>

<th>Type</th>

<th>Input</th>

<th>Result</th>

<th>Score</th>

<th>Time</th>


</tr>


</thead>



<tbody>


{% for scan in scans %}


<tr>


<td>
{{ scan.id }}
</td>


<td>
{{ scan.scan_type }}
</td>


<td>
{{ scan.input_value }}
</td>


<td>
{{ scan.result }}
</td>


<td>
{{ scan.score }}/100
</td>


<td>
{{ scan.scan_time }}
</td>


</tr>



{% else %}


<tr>

<td colspan="6">

No scans available

</td>


</tr>


{% endfor %}



</tbody>



</table>


</div>



<br>


<a href="/report" class="btn">

📄 Generate PDF Report

</a>



</section>




<footer>


<p>

© 2026 Cyber Shield AI |
Security Dashboard

</p>


</footer>



<script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>


</html>