<!DOCTYPE html>
<html>

<head>

<title>Cyber Shield AI - Email Checker</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<div class="container">


<h1>🛡 Cyber Shield AI</h1>

<h2>Email Security Checker</h2>


<input 
type="email" 
id="email"
placeholder="Enter Email">


<button onclick="checkEmail()">
Check Email
</button>


<div id="result"></div>


</div>



<script>


function checkEmail(){


let email = document.getElementById("email").value;



fetch("/check_email",{


method:"POST",


headers:{

"Content-Type":"application/json"

},


body:JSON.stringify({

email:email

})


})


.then(res=>res.json())


.then(data=>{


document.getElementById("result").innerHTML=`

<h3>Result</h3>

<p>Email : ${data.email}</p>

<p>Status : ${data.status}</p>

`;



});


}


</script>


</body>

</html>