<!DOCTYPE html>

<html>

<head>

<title>Hash Checker</title>


<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


<style>


body{

background:#050816;

color:white;

font-family:Poppins;

}



.box{


width:500px;

margin:100px auto;

background:#111827;

padding:30px;

border-radius:20px;

border:1px solid #00ff99;

text-align:center;

box-shadow:0 0 20px #00ff99;

}



button{

padding:15px;

background:#00ff99;

border:none;

border-radius:10px;

font-weight:bold;

}



.result{

margin-top:20px;

color:#00ff99;

white-space:pre-line;

}



</style>


</head>


<body>


<div class="box">


<h1>🧬 File Hash Checker</h1>


<form method="POST" enctype="multipart/form-data">


<input type="file" name="file">


<br><br>


<button>

Generate Hash

</button>


</form>



<div class="result">

{{result}}

</div>


</div>


</body>


</html>