<!DOCTYPE html>
<html>

<head>

<title>Cyber Shield AI</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<nav>

<div class="logo">
🛡 Cyber Shield AI
</div>


<ul>

<li><a href="/">Home</a></li>

<li><a href="/scanner">URL Scanner</a></li>

<li><a href="/password">Password</a></li>

<li><a href="/email">Email</a></li>

<li><a href="/dashboard">Dashboard</a></li>


</ul>


</nav>



<div class="hero">


<h1>
AI Powered Cyber Security Platform
</h1>


<p>
Scan URLs, Check Password Strength and Protect Digital Identity
</p>


<a href="/scanner">

<button>
Start Security Scan
</button>

</a>


</div>



</body>

</html>