<!DOCTYPE html>
<html>

<head>

<title>Cyber Shield AI - Password Checker</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<div class="container">


<h1>🛡 Cyber Shield AI</h1>

<h2>Password Strength Checker</h2>


<input 
type="password" 
id="password"
placeholder="Enter Password">


<button onclick="checkPassword()">
Check Password
</button>


<div id="result"></div>


</div>



<script>


function checkPassword(){


let password = document.getElementById("password").value;



fetch("/check_password",{


method:"POST",


headers:{

"Content-Type":"application/json"

},


body:JSON.stringify({

password:password

})


})



.then(res=>res.json())


.then(data=>{


document.getElementById("result").innerHTML=`

<h3>Result</h3>

<p>Strength : ${data.strength}</p>

<p>Score : ${data.score}%</p>

`;



});



}



</script>


</body>

</html>