<!DOCTYPE html>
<html>

<head>

<title>Cyber Shield AI - URL Scanner</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<div class="container">


<h1>🛡 Cyber Shield AI</h1>

<h2>URL Security Scanner</h2>


<input 
type="text" 
id="url"
placeholder="Enter Website URL">


<button onclick="scanURL()">
Scan URL
</button>


<div id="result"></div>


</div>



<script>


function scanURL(){


let url = document.getElementById("url").value;



fetch("/scan",{


method:"POST",


headers:{

"Content-Type":"application/json"

},


body:JSON.stringify({

url:url

})


})



.then(res=>res.json())


.then(data=>{


document.getElementById("result").innerHTML=`

<h3>Result</h3>

<p>URL : ${data.url}</p>

<p>Status : ${data.status}</p>

<p>Security Score : ${data.score}%</p>

`;



});


}



</script>


</body>

</html>
{% if result %}
<div class="result">
    {{ result }}
</div>
{% endif %}