<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>Cyber Shield AI | URL Scanner</title>


<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">


<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
rel="stylesheet">


</head>


<body>


<header>


<nav class="navbar">


<h2 class="logo">
🛡 Cyber Shield AI
</h2>



<ul class="nav-links">


<li><a href="/">Home</a></li>

<li><a href="/scanner">Scanner</a></li>

<li><a href="/password">Password</a></li>

<li><a href="/email">Email</a></li>

<li><a href="/ip">IP Checker</a></li>

<li><a href="/hash">Hash</a></li>

<li><a href="/dashboard">Dashboard</a></li>


</ul>


</nav>


</header>





<section class="tool-page">


<h1>
🌐 URL Security Scanner
</h1>


<p>
Check website safety using Cyber Shield AI
</p>




<div class="tool-box">


<input

type="text"

id="url"

placeholder="https://example.com">


<br>


<button onclick="scanURL()">

Scan Website

</button>


</div>




<div id="result" class="result-box">


Waiting for scan...


</div>




</section>






<script>


function scanURL(){



let url = document.getElementById("url").value;



if(url.trim()==""){


document.getElementById("result").innerHTML =

"❌ Please enter URL";


return;


}





fetch("/scan_url",{


method:"POST",


headers:{


"Content-Type":"application/json"


},


body:JSON.stringify({


url:url


})


})


.then(response=>response.json())


.then(data=>{


document.getElementById("result").innerHTML = `


<h3>Scan Result</h3>


<p>

<strong>Status:</strong>

${data.status}

</p>


<p>

<strong>Security Score:</strong>

${data.score}/100

</p>


`;



})


.catch(error=>{


document.getElementById("result").innerHTML =

"❌ Server Error";


console.log(error);


});



}



</script>







<footer>


<p>

© 2026 Cyber Shield AI | URL Scanner

</p>


</footer>





<script src="{{ url_for('static', filename='js/script.js') }}"></script>



</body>

</html>